.App {
  /* text-align: center; */
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.header{
  width: 100vw;
  height: 10vh;
  background-color: cornflowerblue;
  display: flex;
  font-size: 22px;
  font-weight: 650;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.home-link{
  margin-left: 50px;
}

.display-box {
  width: 85vw;
  height: 54vh;
  background-color: white;
  display: flex;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 20px;
}

.display-buttons {
  display: flex;
  
  width: 100%;
  justify-content: space-around;
}

.page-button {
  color: white;
  background-color: black;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.middle-button {
  
  margin: 0 auto;
  color: white;
  background-color: cornflowerblue;
  border-radius: 10px;
  justify-content: center;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.middle-container {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
